.carousel-link {
  text-decoration: none;
  padding: 3.9rem;
  margin: 0;
  color: white;
  font-weight: 600;
  transition: all .3s ease;
}

.carousel-link:hover {
  font-weight: 900;
}
.m_64f58e10{
  max-width: var(--carousel-control-size);
}