.carousel-link {
  text-decoration: none;
  padding: 3.9rem;
  margin: 0;
  color: white;
  font-weight: 600;
  transition: all .3s ease;
}

.carousel-link:hover {
  font-weight: 900;
}

.m_64f58e10 {
  max-width: var(--carousel-control-size);
}

.m_4451eb3a {
  padding: 20px;
}

.Bar {
  width: 100px;
  height: 100px;
  background-color: #29de4a;
  display: inline-block;
}

.Podium {
  width: 100px;
  height: 300px;
  background-color: #29de4a;
  display: inline-block;
  margin-right: 30px;
}
.Rectangle {
  width: 100px;
  height: 200px;
  background-color: #29de4a;
  display: inline-block;
  margin-left: 30px;
  margin-right: 30px;
}